<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kancy.data.mapper.ShopBrandMapper">
    <sql id="tableName">
        shop_brand
    </sql>

    <sql id="baseColumn">
        id,name,sort,show_status,logo
    </sql>

</mapper>